{{variable | inspect }}

<div class="grid-sizer"></div>
<div class="grid-item">
  <a href="{% if course.redirect %}{{ course.redirect }}{% else %}{{ course.url | relative_url }}{% endif %}">
    <div class="card hoverable">
      <div class="card-body">
        <h2 class="card-title text-lowercase">{{ course.title }}</h2>
        <p class="card-text">{{ course.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if course.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ course.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
